[flake8]
max-line-length=88
ignore = Q000, E722, F841, F405, F403, W503, E501, WPS306, WPS305, WPS453
exclude= **/snapshots/**
per-file-ignores =
    tests/**:
    ; Use of assert detected
    S101,
    ; Found outer scope names shadowing for fixtures
    WPS442,
    move_ugc/schemas/file.py:
    ; Wrong variable name: File
    WPS110,
    move_ugc/__init__.py:
    ; Found `__init__.py` module with logic
    WPS412,