[flake8]
max-line-length=88
ignore = Q000, E722, F841, F405, F403, W503, E501, WPS306, WPS305, WPS453
exclude= **/snapshots/**
per-file-ignores =
    tests/**:
    ; Use of assert detected
    S101,
    ; Found outer scope names shadowing for fixtures
    WPS442,
    ; Found too many module members
    WPS202,
    tests/services/test_take.py:
    ; Found string literal over-use: _ - we can't remove this because of fixture names
    WPS226,
    move_ugc/__init__.py:
    ; Found `__init__.py` module with logic
    WPS412,
    move_ugc/services/file.py:
    ; Inline literal start-string without end-string
    RST214,
    ; Inline interpreted text or phrase reference start-string without end-string
    RST215,
    ; Shadows built-in name id
    WPS125,
    move_ugc/services/take.py:
    ; Inline literal start-string without end-string
    RST214,
    ; Inline interpreted text or phrase reference start-string without end-string
    RST215,
    ; Shadows built-in name id
    WPS125,
    move_ugc/services/job.py:
    ; Inline literal start-string without end-string
    RST214,
    ; Inline interpreted text or phrase reference start-string without end-string
    RST215,
    ; Shadows built-in name id
    WPS125,
    move_ugc/services/client.py:
    ; Inline literal start-string without end-string
    RST214,
    ; Inline interpreted text or phrase reference start-string without end-string
    RST215,
    move_ugc/services/webhooks.py:
    ; Inline literal start-string without end-string
    RST214,
    ; Inline interpreted text or phrase reference start-string without end-string
    RST215,
    move_ugc/services/volume.py:
    ; Inline literal start-string without end-string
    RST214,
    ; Inline interpreted text or phrase reference start-string without end-string
    RST215,
    move_ugc/gql_requests/take.py:
    ; WPS226 Found string constant over-use - for }} brackets - we can't remove this due to f-strings
    WPS226,
    move_ugc/gql_requests/job.py:
    ; WPS226 Found string constant over-use - for }} brackets - we can't remove this due to f-strings
    WPS226,
    move_ugc/services/camera_settings.py:
    ; Inline literal start-string without end-string
    RST214,
    ; Inline interpreted text or phrase reference start-string without end-string
    RST215,